# SQL Part 3 Exercises: Joins

This notebook works with `BooksDB`.

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.

Note: If some of the queries are not returning quickly, you can try closing and restarting Visual Studio Code after a few minutes.

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## QUESTION 1:  Exploring a `LEFT JOIN` using the `books` and `to_read` tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the `/*` (line 1) and `*/` (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer:  The LEFT table is "books", and the right table is "to_read"

**Part B:** Using table 2, answer the following questions: 
- When we added a `WHERE tr.user_id IS NOT NULL` clause (line 14), how did the table change?  Why?

> Your Answer: The results (rows returned) are different because when you add IS NOT NULL, it does not include in the output any row/case that has null values in the right database (i.e., that only exist in the left database but not in the right database). It essentially creates an INNER JOIN.

In [ ]:
/*
-- Query 1: LEFT JOIN
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;
*/

## **QUESTION 2:** Exploring `RIGHT` joins with the `books` and `to_read` tables

You will need to uncomment the query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: The left table is books (b) and the right table is to_read (tr)

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?

> Your Answer: In Q2 results, ALL book_ids from the right table (to_read) are included, and if there are not matching book_ids from the left table (books), NULL values are returned. The opposite is true in Q1.....all of the IDs from "books" are included, and if there are IDs that weren't represented in 'to read', they just get null values for those variables.

In [ ]:
/*
-- Query 1: RIGHT JOIN
SELECT TOP 300 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;
*/

## **QUESTION 3:** Exploring FULL JOINS with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the `books` table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: In 'books', each row is a book. In 'to_read', each row is a person in the goodreads database. The full join included ALL VALUES from both datasets, so now each row is a single book marked as to-read by a single person. So each book is typically represented as more than one row, and each person is likely represented as more than one row. The results where user_id and book_id are null are those where no individual user saved that book as to-read. The results where title, avgrating and book_count are null are those bookIDs represented in the to_read table but not in the books table. (I'm a bit confused about why that would be the case, but I guess it's possible!)  

What kind of join you'd want to use depends on your focus---whether you're focused on the info in the left or in the right, or both so much that you don't want to look at the data unless they have all values represented.

In [ ]:
/*
-- FULL JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id;
*/

## **QUESTION 4:** Exploring INNER Joins with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> Your Answer: Joins the two tables by ON columns, including only the rows that have a match in both tables. 

**Part B:** Currently this table has an `'IS NOT NULL'` in the `WHERE` clause. Is this necessary for this table? Why or Why not?

> Your Answer: Deleting the "is not null" does nothing, b/c if the values were null, the inner join would not include them.

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.

> Your Answer:  Update the query in the code box below.

In [ ]:
/*
-- INNER JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
*/

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want the *most popular* book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.

Minimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.

**Title:**

**Part B:** How many different tags have been used for the most tagged book?

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want to find the *most popular* tag id, so think about ordering in a way that will display the most popular tag id.

*Minimum Desired Output:* The tag id for the most popular tag used for the most tagged book.

**Tag Id:**

**Part C:** What is this particular tag?

You may return this answer with a simple query.

*Minimum Desired Output:* The tag name for the most popular tag used for the most tagged book.

**Tag Name:**

In [ ]:
-- Part A: Find the most tagged book and its name
--each row in the 'books' table represents a single book. each book is only represented once in this table.
--each row in the 'book_tags' table represents the combination of a single book and a single tagID...each book can be repeated in many rows b/c a single book can be associated with multiple tags
--columns of interest from 'books':  original_title, best_book_id (match ON)
--columns of interest from 'book_tags': goodreads_book_id (match ON), count
SELECT b.original_title, bt.count
FROM BooksDB.dbo.books b
INNER JOIN BooksDB.dbo.book_tags bt
ON b.best_book_id = bt.goodreads_book_id
ORDER BY bt.count DESC
--The most tagged book is "Oh Alquimista" (in English, "The Alchemist"), which has been tagged 596234 times.

--Part B: How many different tags have been used for the most tagged book (Oh Alquimista)
--columns of interest from 'books': original title, 
--columns of interest from 'book_tags': tag_id (this is what we want to count)
--match on books.best_book_id = books.goodreads_book_id
--functions to use COUNT DISTINCT (tagIDs), WHERE title = oh alquimista
SELECT COUNT (DISTINCT bt.tag_id), b.ORIGINAL_TITLE
FROM BooksDB.dbo.books b
INNER JOIN BooksDB.dbo.book_tags bt
ON b.best_book_id = bt.goodreads_book_id
WHERE b.original_title LIKE 'O Alquimista'
GROUP BY b.original_title
--There were 100 distinct tags (rows) returned from the query

--Part B again?: What is the most popular tag?
SELECT DISTINCT bt.tag_id, bt.count, b.original_title
FROM BooksDB.dbo.books b
INNER JOIN BooksDB.dbo.book_tags bt
ON b.best_book_id = bt.goodreads_book_id
WHERE original_title LIKE 'O Alquimista'
ORDER BY bt.count DESC
--The most popular tag is 30574

--Part C: What is the name of this tag?
SELECT tag_id, tag_name
FROM booksdb.dbo.tagIDs
WHERE tag_id = 30574
--the most popular tag name is "to-read"

## QUESTION 6: Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

Here is an example.  Alyce wanted to search for Halloween books.  She used the wildcard, `%halloween%` and 8 different combinations were found.  Alyce selected `halloween-storytime`, with a tag id of 13877.

*Minimum Desired Output:* tag name and tag id

**Your Tag and Tag Id:**

**Part B:** Now that you have the tag id, find the title that was tagged the most with this tag by joining the `books` and `books_tags` tables.

Alyce joined the book table with the tags table and discovered that "The Little Old Lady Who Was Not Afraid of Anything" was tagged as `halloween-storytime` the most.

*Minimum Desired Output:* title and tag count

**Your Title and Number of times the tag was used:**

In [ ]:
-- PART A: FIND A TAGID AND TAGNAME FOR A TOPIC OF INTEREST TO YOU
SELECT *
FROM BooksDB.dbo.tags

SELECT *
FROM BooksDB.dbo.tags
WHERE TAG_NAME LIKE '%COOKBOOK%'

SELECT *
FROM BooksDB.dbo.tags
WHERE TAG_NAME LIKE 'VEGETARIAN-COOKBOOKS'
--I identified tag_name=Vegetarian-Cookbooks with TagID=31801

--PART B: Find the title tagged most with TagID=31801
SELECT bt.tag_id, b.original_title, bt.count
FROM BooksDB.dbo.book_tags bt
LEFT JOIN booksDB.dbo.books b ON bt.goodreads_book_id = b.best_book_id
WHERE bt.tag_id = '31801'
--there were 4 titles with the tag ID = 31801. The one with the highest count was The Moosewood Cookbook

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the `to_read` and `books` tables are organized, and then join them.  What will you use as a key?

Your Answer:

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

*Hint:* Suggest using an alias for the aggregation you will need to run on the `user_id`

*Minimum Desired Output:* title and aliased column

In [ ]:
-- PART A:  Explore and join the 'to_read' and 'books' tables. 
--In the 'to_read' table, each row represents a single user-bookID pair, that is, a userID and ONE of the books they wish to read. So most userIDs have multiple rows associated with them
--in the 'books' table, each row represents a book. 
--Match ON book_id from both
/*I decided to do an inner join b/c I only wanted to use the data that had non-null information from both tables. If a book was not on the 'to-read' list, then I don't want it in my dataset 
anyway. Each row represents a combination of bookid/title, authors, and a single user who wants to read it. So each book and each person could be represented in many rows. */

SELECT b.book_id, b.title, b.authors, user_id AS reader
FROM booksdb.dbo.books b
INNER JOIN booksdb.dbo.to_read tr on b.book_id = tr.book_id

--PART B: a set of results with the most popular (highest count in to_read list) 10 book.ids and the corresponding title and author
--This gives me the top 10 bookIDs and a count of them from the 'to_read'

SELECT TOP 10 COUNT (tr.user_id) AS POPULARITY, b.title
FROM booksdb.dbo.to_read AS tr
INNER JOIN booksdb.dbo.books AS b ON b.book_ID = tr.book_ID
GROUP BY b.title
ordeR BY POPULARITY DESC

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by `user_id`.

_Hint:_ You might want an alias for the titles.

_Minimum Desired Output:_ `user_id` and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire 'to read' list.

In [ ]:
--Return table containing top 10 users with the most titles on their 'to_read" list, grouped by user_id. 
SELECT TOP 10 COUNT(b.title) as ttlbooks_toread, tr.user_id
FROM booksdb.dbo.to_read as tr
INNER JOIN booksdb.dbo.books as b ON tr.book_id = b.book_id
GROUP by tr.user_id
ORDER BY ttlbooks_toread DESC

--Select one of the users and print out their 'to-read' list
SELECT b.title, tr.user_id
FROM booksdb.dbo.to_read as tr
INNER JOIN booksdb.dbo.books as b ON tr.book_id = b.book_id
Where tr.user_id = 14771